body {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    background-color: #FFFBEE;
    /* background-color: rgb(225, 195, 255); */
    color: rgb(28, 28, 28);

}

#title{
    text-align: center;
    font-size: 40px;
    font: playfair;
    font-style:normal;
    color: rgb(28, 28, 28);
    

}
h2 {
    font-size: 30px;
    color: rgb(28, 28, 28);
}

h3 {
    font-size: 22px;
    color:black;
    text-align: left;
}

#subheadingBunch{
    line-height: 20%;
    padding-bottom: 80px;
    
    
}
#paintBox{
    padding-top: 60px;
    background-color: #FFAFDB;
}
#chippedPaint{
    width: 600px;
    height: 600px;
    padding-top: 50px;
    align-items: left;
    background-color: #FFAFDB;
}
/* .titleBackground{
    background-color: rgb(255, 181, 230);
    align-items: center;
    margin-top: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: 20%;
    margin-right: 20%;
    
    
} */



.buttonContainer {
    text-align: center;
    
    
    
    
    background-color: white;
    width: 200px;
    padding: 20px;
    
}
.buttonBin{
    height: 70px;
    
}


/* CSS */
.year-btn {
    align-items: center;
    appearance: none;
    background-color: #fff;
    border-radius: 24px;
    stroke-width: 2px;
    stroke:black;
    border-style: none;
    /* box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0; */
    box-sizing: border-box;
    color: #3c4043;
    cursor: pointer;
    display: inline-flex;
    fill: currentcolor;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-size: 20px;
    font-weight: 500;
    height: 48px;
    justify-content: center;
    letter-spacing: .25px;
    line-height: normal;
    max-width: 100%;
    overflow: visible;
    padding: 2px 24px;
    position: relative;
    text-align: center;
    text-transform: none;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
    will-change: transform,opacity;
    z-index: 0;
  }
  
  .year-btn:hover {
    background: #F6F9FE;
    color: #e033ff;
  }
  
  .year-btn:active {
    box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
    outline: none;
  }
  
  .year-btn :focus {
    outline: none;
    border: 2px solid #4285f4;
  }
  
  .year-btn:not(:disabled) {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
  }
  
  .year-btn:not(:disabled):hover {
    box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
  }
  
  .year-btn:not(:disabled):focus {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
  }
  
  .year-btn:not(:disabled):active {
    box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
  }
  
  /* .year-btn:disabled {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
  } */


#canvas{
    margin-top: 50px;
    width: 75%;
    height: 900px;
    background-color: rgb(238, 172, 255);
    
}
